<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Metadata for {{ filename }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <style>
        /* Additional styles for flexibility */
        .container {
            max-width: 95%; /* Allow the container to occupy a maximum of 95% of the viewport */
            margin: 0 auto; /* Center the container */
        }

        table {
            width: 100%; /* Make tables responsive and occupy full width of the container */
            table-layout: auto; /* Allow table layout to adapt based on content */
        }
    </style>
</head>
<body>
    <div class="text-center">
        <a href="{{ url_for('dashboard') }}" class="btn btn-secondary">Back to Dashboard</a>
    </div>
    <br>
    <div class="container border border-secondary rounded">
        <h1>Full Metadata for {{ filename }}</h1>

        {% for key, value in metadata.items() %}
            <div class="mt-5">
                <h3>{{ key }}</h3>

                {% if key.startswith('partition_') %}
                    <table class="table table-striped border border-success rounded">
                        <thead>
                            <tr>
                                <th>Detail</th>
                                <th>Information</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if 'partition_analysis' in value %}
                                <tr>
                                    <td>Partition Analysis</td>
                                    <td><pre>{{ value['partition_analysis'] | safe }}</pre></td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="2">No detailed partition analysis available for this entry.</td>
                                </tr>
                            {% endif %}

                            {% if 'top_directories' in value %}
                                <tr>
                                    <td>Top Directories</td>
                                    <td>
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Type</th>
                                                    <th>File Name</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for directory in value['top_directories'] %}
                                                    <tr>
                                                        <td>{{ directory['type'] }}</td>
                                                        <td>{{ directory['file_name'] }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="2">No top directories available for this entry.</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>

                {% elif value is mapping %}
                    <table class="table table-striped border border-success rounded">
                        <thead>
                            <tr>
                                <th>Key</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for k, v in value.items() %}
                                <tr>
                                    <td>{{ k }}</td>
                                    <td>
                                        {% if v is iterable and not v is string %}
                                            <ul>
                                                {% for item in v %}
                                                    <li>{{ item }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% else %}
                                            {{ v }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                {% elif value is iterable and not value is string %}
                    {% if value[0] is mapping %}
                        <table class="table table-striped border border-success rounded" id="{{ key }}-table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    {% for column in value[0].keys() %}
                                        <th>{{ column }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in value %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        {% for column in item.keys() %}
                                            <td>{{ item[column] }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <ul>
                            {% for item in value %}
                                <li>{{ item }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% else %}
                    <p>{{ value }}</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            // Initialize DataTables for each metadata table
            {% for key, value in metadata.items() %}
                if ($('#{{ key }}-table').length) {
                    $('#{{ key }}-table').DataTable({
                        "pageLength": 10 // Limit to 10 entries per page
                    });
                }
            {% endfor %}
        });
    </script>
</body>
</html>
